*{
    margin: 0;
    padding: 0;
}
::selection{
    color: royalblue;
}
h1,h2,h3,h4,h5,h6,h7{
    color: seagreen;
}
.container{
    padding: 5px;
    margin: 5px auto;
    background-color: rgba(229, 240, 236, 0.596);
    width: 1000px;
    height: 300vh;
}
header{
    height: 130px;
    padding: 5px;
}
header img{
    border-radius: 50%;
    width: 120px;
    height: 110px;
    float: left;
    border: 4px solid white;
}
header .personal{
        float: left;
        padding: 30px 15px;
}
.details{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
.details a{
    color: rgba(49, 24, 194, 0.719);
    text-decoration: none;
    font-weight: bold;
}
.details a:hover{
    color: red;
}
.div-clear{
    clear: both;
}
hr{
    margin: 0 auto;
    width: 95%;
    border: black solid 1px;
}
.personal{
    padding-top: 15px;
    padding-left: 15px;
}
#section{
    
}
.info-1{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    font-weight: bold;
    font-size: 25px;
}
.info-2{
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    font-size: 18px;
}
.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 95%;
}

.edu-2{
    float: right;
    width: 70%; 
}
.edu-21{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 2%;
    width: 48%;
    float: left;
    line-height: 1.6;
}
.edu-22{
    padding-top: 10px;
    margin-right: 2%;
    width: 48%;
    line-height: 1.6;
    float: right;
}

.edu-21 a{
    color: rgba(49, 24, 194, 0.719);
    text-decoration: none;
    font-weight: bold;
}
.edu-22 a{
    color: rgba(49, 24, 194, 0.719);
    text-decoration: none;
    font-weight: bold;
}
.skills{
    float: right;
    width: 70%;
    padding-top: 10px;
    line-height: 1.6;
    padding-bottom: 10px;
}
.some-qualifications{
    width: 70%;
    float: right;
    padding-top: 10px;
    line-height: 1.6;
    padding-bottom: 10px;
}
.education-details{
    width: 70%;
    float: right;
    padding-top: 10px;
    line-height: 1.6;
    padding-bottom: 10px;
}
.education-details h2{
    
    font-size: 22px;
}
.education-details h3{
    color: black;
    font-size: 20px;
}
.education-details p{
    font-size: normal;
}
.per-details{
    width: 70%;
    padding-top: 10px;
    line-height: 1.6;
    padding-bottom: 10px;
}
.contact-details{
    width: 70%;
    padding-top: 10px;
    line-height: 1.6;
    padding-bottom: 10px;
    float: left;
    font-size: 20px;
}
.contact-details a{
    text-decoration: none;
}
.ref-1{
    width: 35%;
    padding-top: 10px;
    line-height: 1.6;
    padding-bottom: 10px;
    float: left;
    font-size: 20px;
}
.footer{
    margin-top: 10px;
    background-color: black;
    text-align: center;
    padding:10px;
}
.footer a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

